<div class="row">
  <div class="left-margin col-md-10">
    <div class="row">
      <div class="col-md-1">
        <div><%=question.votes.length%></div>
        <div>votes</div>
      </div>
      <div class="col-md-1">
        <div><%=question.answers.length%></div>
        <div>answers</div>
      </div>
      <div class="col-md-1">
        <div><%=question.view_count%></div>
        <div>views</div>
      </div>

      <div class="col-md-8">
        <h4><%= link_to question.description, question %></h4>
      </div>
    </div>
  </div>
</div>
