<div class="row">

  <% @question.answers.each do |answer| %>

  <p><%= answer.description %></p>
  <%= answer.user.username %>
  <%= render partial: "comments/show", locals: { answer: answer } %>


  <% end %>


</div>


