body{
    padding-top: 70px;
}

.field-margin{
    margin: 1%;
}

.hide-element{
    display: none;
}

.calendar-row{
    /*float: right;*/
}

.calendar-day-header{
    border-bottom: 1px solid gray;
}

.hide{
    display: none;
}

.left-margin{
    margin-left: 2%;
}


.field-margin-top{
    margin-top: 1%;
}

.field-margin-bottom{
    margin-top: 5%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.vote-error{
	color: red;
}

.questions{

}
.questions li{
  height: 50px;
  margin: 5px;
}

.questions a{
  font-size: 1.5em;

}
.right-margin{
  margin-right: 1%;
}
