body{
    padding-top: 70px;
}

.field-margin{
    margin: 1%;
}

.hide-element{
    display: none;
}

.calendar-row{
    /*float: right;*/
}

.calendar-day-header{
    border-bottom: 1px solid gray;
}

.hide{
    display: none;
}

.left-margin{
    margin-left: 2%;
}


.field-margin-top{
    margin-top: 1%;
}
