<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Latest Top 10</a></li>
  <li role="presentation"><a href="#">Hot Question</a></li>
  <li role="presentation"><a href="/">All Others</a></li>
  <li role="presentation"><%= link_to "Our Index page ", '/index'%></li>
</ul>